<html>

    <head>
        <title>Chipotle Calorie Calculator</title>
        <link href="../../Styles/Home.css" rel="stylesheet" type="text/css" />
        <script src="../../Scripts/JQuery.js" type="text/javascript"></script>
        <script src="../../Scripts/Home.js" type="text/javascript"></script>
    </head>

    <body>

        <div class="home">

            <div class="menu">
                <div class="row chicken">
                    <div class="label">Chicken</div>
                    <input type="checkbox" />
                </div>
                <div class="row carnitas">
                    <div class="label">Carnitas</div>
                    <input type="checkbox" />
                </div>
                <div class="row steak">
                    <div class="label">Steak</div>
                    <input type="checkbox" />
                </div>
                <div class="row barbacoa">
                    <div class="label">Barbacoa</div>
                    <input type="checkbox" />
                </div>
            </div>

            <div class="results"></div>
            <div class="results-total"></div>

        </div>

    </body>

</html>