<html>

    <head>
        <link href="~/Styles/Home.css" rel="stylesheet" />
        <title>Introduction to AngularJS</title>
    </head>

    <body>

        <script src="~/Scripts/Angular.js"></script>
        <script src="~/Scripts/Home.js"></script>
        
        <div class="home">

            <div>Hello World</div>

        </div>

    </body>

</html>