<html>

    <head>
        <link href="~/Styles/Home.css" rel="stylesheet" />
        <script data-require="angular.js@1.4.8" data-semver="1.4.8" src="https://code.angularjs.org/1.4.8/angular.js"></script>
        <script src="~/Scripts/Home.js"></script>
        <title>Introduction to AngularJS</title>
    </head>

    <body ng-app="my-module" ng-controller="my-root-controller">

        <div ng-repeat="player in players">
            <div>{{player.FirstName}} {{player.LastName}}</div>
        </div>

    </body>

</html>