<html>

    <head>
        <link href="~/Styles/Home.css" rel="stylesheet" />
        <script data-require="angular.js@1.4.8" data-semver="1.4.8" src="https://code.angularjs.org/1.4.8/angular.js"></script>
        <script src="~/Scripts/Home.js"></script>
        <title>Introduction to AngularJS</title>
    </head>

    <body>

        Hello World !
        <!-- HTML Here -->

    </body>

</html>