<html>

    <head>
        <title>Assignment 8</title>
        <link href="~/Styles/Home.css" rel="stylesheet" />
        <script src="~/Scripts/JQuery.js"></script>
        <script src="~/Scripts/Home.js"></script>
    </head>

    <body>
        
        <div class="player-number-label">Enter Player Number: </div>

        <div class="player-number-textbox">
            <input class="player-number-textbox-input" type="text" value="" />
        </div>

        <hr />

        <div class="player-number-button">
            <button type="button">Get Player Information</button>
        </div>

        <div class="output"></div>

    </body>

</html>