<html>

    <head>
        <title>Introduction to AJAx</title>
        <link href="~/Styles/Home.css" rel="stylesheet" />
        <script src="~/Scripts/JQuery.js"></script>
        <script src="~/Scripts/Home.js"></script>
    </head>

    <body>
        
        <div class="button1">Get Mock Response, No Data</div>
        <div class="button2">Get Message Based On ZIP Code</div>
        <div>ZIP Code</div>
        <input class="zip-code" type="text" />
    </body>

</html>