.button1
{
	width : 100px;
	height : 20px;
	padding : 20px;
	margin : 20px;
	font-size : 14px;
	font-family : "Calibri";
	text-align : center;
	border : 2px solid black;
	display : inline-block;
}

.button2
{
	width : 100px;
	height : 20px;
	padding : 20px;
	font-size : 14px;
	font-family : "Calibri";
	text-align : center;
	border : 2px solid black;
	display : inline-block;
}